html,
body {
  margin: 0px;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column wrap;
}

.leftAndRight {
  flex: 1 1;
  order: 2;
  display: flex;
}

#mapid {
  flex: 2;
}

.list-places {
  list-style: none;
}

.list-places li {
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  font-size: large;
}

/*.list-places li:hover {
  background-color: rgb(15, 15, 15);
}*/

.left-side {
  min-width: 300px;
  box-sizing: border-box;
  flex: 0 0 20%;
  padding-left: 10px;
  padding-right: 20px;
  background-color: rgb(160, 160, 160);
  background-color: rgb(53, 87, 161);
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(160, 160, 160) rgb(25, 25, 25);
}

.left-flex {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: white;
}

.left-up {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  cursor: default;
}
.card-title {
  font-size: x-large;
  color: black;
}

.card-image:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.collapse {
  margin-top: 10px;
  color: black;
  border: 1px solid;
}

/*------Scroll bar-----*/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 245, 245, 0.849);
}
