.modal-title {
  color: black;
  text-align: center;
}

.modal-body {
  cursor: auto;
}

.modal-content {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: auto;
}

.comment-form-title {
  color: black;
  font-size: large;
  text-align: inherit;
}
.comment-form {
  border-bottom: 1px solid black;
}

#comment-area-title {
  margin-top: 10px;
  color: black;
}

.comment-area {
  min-height: auto;
  scrollbar-width: thin;
  max-height: calc(100vh - 475px);
  overflow-y: auto;
  border: 1px ridge;
  border-radius: 10px;
}

p.comment {
  color: black;
  text-align: left;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}

.input {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 350px;
}

.btn-primary {
  width: 350px;
  height: 32px;
  margin-bottom: 25px;
}

textarea {
  width: 350px;
  height: 100px;
}

.comment-box {
  background: none repeat scroll 0 0 #f6f6f6;
  float: left;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  width: 400px;
  word-wrap: break-word;
}

.comment-box:hover {
  border: 1px solid #127fbb;
}

.comment-meta {
  margin-bottom: 4px;
  overflow: auto;
}

.comment-user {
  float: left;
  margin-left: 5px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
.comment_date {
  float: right;
  margin-right: 5px;
  font-size: 15px;
  color: #000;
}

.comment-body {
  margin-left: 5px;
  text-align: left;
  /*color: #848484;*/
  color: rgb(61, 61, 61);
  font-size: 15px;
}

.modal-body {
  cursor: auto;
}

#eventDateText {
  text-align: left;
  margin-left: 58px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: large;
}

#meeting-time {
  margin-bottom: 25px;
  width: 350px;
}

.eventButtons {
  width: 350px;
  height: 40px;
}
