html,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

p {
  color: black;
}

.leftAndRight {
  flex: 1 1;
  order: 2;
  display: flex;
}

#mapid {
  flex: 2;
}

.list-places {
  list-style: none;
}

.list-places li {
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  font-size: large;
}

.left-side {
  min-width: 345px;
  box-sizing: border-box;
  flex: 0 0 10%;
  padding-right: 10px;
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(160, 160, 160) rgb(25, 25, 25);
}

.left-flex {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: white;
}

.left-up {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  cursor: default;
}
.card-title {
  font-size: x-large;
  color: black;
}

.card-image:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.collapse {
  margin-top: 10px;
  color: black;
  border: 1px ridge;
}

/*------Scroll bar-----*/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 245, 245, 0.849);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.navbar {
  background: -webkit-linear-gradient(
    to right,
    #2e9de7,
    #334658
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3084bd,
    #5881a8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-link {
  font-size: larger;
}
.navbar-nav a.active {
  font-weight: bold;
}
.nav-item :hover {
  color: blanchedalmond !important;
}

#eventButton {
  margin-top: 15px;
  width: 265px;
  height: 45px;
  margin-left: 15px;
  position: sticky;
}

#locations-title {
  color: rgb(19, 28, 70);
  justify-content: center;
  font-size: 26px;
  font-family: "Signika", sans-serif;
  padding-bottom: 5px;
  margin-top: 15px;
  padding-left: 35px;
  padding-right: 20px;
  display: block;
}

#events-title {
  color: rgb(19, 28, 70);
  justify-content: center;
  font-size: 26px;
  font-family: "Signika", sans-serif;
  padding-bottom: 5px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  display: none;
}

#upcoming-events-title {
  color: black;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0;
  display: none;
}

#past-events-title {
  color: black;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  padding: 0px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-div {
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin-left: 5px;
  display: none;
  /*border-bottom: 1px solid rgb(59, 133, 230);*/
}
